@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-black: #0a0a0a;
  --text-verybig: 10rem;
  --text-verybig-mobile: 8rem;
  --text-ratherbig: 4rem;
  --text-big: 2.3rem;
  --text-medium: 1.5rem;
  --text-medium-mobile: 1.3rem;
  --text-normal: 1.1rem;
  --text-prettysmall: 0.9rem;
  --text-table-mobile: 0.5rem;
  --text-verysmall: 0.8rem;
  --white: #ffffff;
  --secondary-font: 'Roboto Mono', monospace;
  --primary-font: 'Rubik', sans-serif;

}


html,
body {
  margin: 0;
  background-color: var(--white);
  font-family: 'Rubik', sans-serif;
}

