@import url('https://fonts.googleapis.com/css?family=Rubik:300,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-black: #0a0a0a;
  --text-verybig: 10rem;
  --text-verybig-mobile: 7rem;
  --text-quiteverybig: 6rem;
  --text-quiteverybig-mobile: 5rem;
  --text-ratherbig: 4rem;
  --text-ratherbig-mobile: 2rem;
  --text-big: 2.3rem;
  --text-medium: 1.5rem;
  --text-medium-mobile: 1.3rem;
  --text-normal: 1.1rem;
  --text-prettysmall: 0.9rem;
  --text-table-mobile: 0.6rem;
  --text-label-mobile: 0.5rem;
  --text-verysmall: 0.8rem;
  --white: #ffffff;
  --secondary-font: 'Roboto Mono', monospace;
  --primary-font: 'Rubik', sans-serif;

}


html,
body {
  margin: 0;
  background-color: var(--white);
  font-family: 'Rubik', sans-serif;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.textloop {
  text-align: center;
  height: 260px;
}

.rc-slider {
  position: relative;
  height: 20px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider {
  position: relative;
  height: 24px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider-rail {
  height: 8px;
  border-radius: 6px;
  background-color: #c7c7c7;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 8px;
  border-radius: 6px;
  margin-top: -8px;
  background-color: #ff00a8;
}

.rc-slider-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -16px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #ff00a8;
  background-color: #fff;
  touch-action: pan-x;
}

.rc-slider-handle:hover {
  border-color: #ff00a8;
}

.rc-slider-handle:active {
  border-color: #ff00a8;
  box-shadow: 0 0 2px #ff00a8;
  cursor: grabbing;
}

.rc-slider-handle:focus {
  border-color: #ff00a8;
  box-shadow: 0 0 0 1px #ff00a8;
  outline: none;
}

@media screen and (max-width: 768px) {
  .textloop {
    height: 150px;
  }

  .rc-slider {
    position: relative;
    height: 20px;
    padding: 5px 0;
    width: 100%;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: #c7c7c7;
  }

  
  .rc-slider-rail {
    height: 8px;
    border-radius: 6px;
    background-color: #c7c7c7;
  }
  
  .rc-slider-track {
    position: relative;
    left: 0;
    height: 8px;
    border-radius: 6px;
    margin-top: -8px;
    background-color: #ff00a8;
  }
  
  .rc-slider-handle {
    position: absolute;
    width: 24px;
    height: 24px;
    cursor: pointer;
    cursor: -webkit-grab;
    margin-top: -16px;
    cursor: grab;
    border-radius: 50%;
    border: solid 2px #ff00a8;
    background-color: #fff;
    touch-action: pan-x;
  }
  
  .rc-slider-handle:hover {
    border-color: #ff00a8;
  }
  
  .rc-slider-handle:active {
    border-color: #ff00a8;
    box-shadow: 0 0 2px #ff00a8;
    cursor: grabbing;
  }
  
  .rc-slider-handle:focus {
    border-color: #ff00a8;
    box-shadow: 0 0 0 1px #ff00a8;
    outline: none;
  }
}
@media screen and (min-width: 768px) {
  .textloop {
    height: 210px;
  }
}

@media screen and (min-width: 960px) {
  .textloop {
    height: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .textloop {
    height: 300px;
  }
}

@media screen and (min-width: 1600px) {
  .textloop {
    height: 400px;
  }
}