* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-black: #0a0a0a;
  --text-big: 3rem;
  --text-medium: 1.1rem;
  --text-prettysmall: 0.9rem;
  --text-small: 0.8rem;
}

html,
body {
  margin: 0;
  background-color: var(--almost-black);
  font-family: 'Rubik', sans-serif;
}

.center {
  justify-content: center;
  text-align:center;
}

@media screen and (min-width: 1216px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
  }
}

@media screen and (min-width: 768px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 980px;
  }
}

@media screen and (max-width: 768px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 980px;
  }
}


