* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --almost-black: #0a0a0a;
  --text-big: 3rem;
  --text-medium: 1.1rem;
  --text-prettysmall: 0.9rem;
  --text-small: 0.8rem;
}

html,
body {
  margin: 0;
  background-color: var(--almost-black);
  font-family: 'Rubik', sans-serif;
}

.center {
  justify-content: center;
  text-align:center;
}

.verticalMargins {
  margin: 3% 0;
}

@media screen and (min-width: 1216px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 980px;
  }
}

@media screen and (min-width: 768px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 980px;
  }
}


.Collapsible
{
  width: 100%;
}

.Collapsible__trigger {
  width: 100%;
  font-weight: 500;
}

.Collapsible__contentOuter
{
  width: 100%;
}

.Collapsible__contentInner
{
  width: 100%;
}

tspan {
  font-family: var(--primary-font);
color: var(--almost-black);
font-size: var(--text-prettysmall);
font-weight: 300;
}

.recharts-legend-item-text {
  font-family: var(--primary-font);
  font-size: var(--text-prettysmall);
  font-weight: 500;
}

.recharts-tooltip-label, .recharts-default-tooltip {
  font-family: var(--primary-font);
  font-size: var(--text-prettysmall);
  font-weight: 500;
}
button.buttonModal {
  min-width: 150px;
  margin: 30px 0 20px 0;
  padding: 20px;
  /* background-color: #D71B97; */
  color: #fff;
  text-align: center;
  font-size: var(--font-main-button);
  font-weight: 700;
  border-radius: 5px;
  border: none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background: linear-gradient(-60deg, #CB1A8F, #FC02A7);
background-size: 100%;
}



button.buttonModal:hover {
    opacity: 0.8;
    color: #fff;
    cursor: pointer;
  }

  button.buttonModal:focus {
    outline: none;
  }

  button.buttonModal:disabled {
    pointer-events: none;
  }

  .mainModal {
    display: flex;
    flex-direction: column;
  }


@media screen and (max-width: 768px) {
  section.content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 980px;
  }

  button.buttonModal {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4% 0;
  }
}


