@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

/* Global */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  @apply m-0 bg-white font-primary;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

button.btn {
  @apply min-w-150px mt-10px mb-20px p-20px text-white text-center font-primary font-bold rounded-5px border-none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background: linear-gradient(-60deg, #cb1a8f, #fc02a7);
  background-size: 100%;
}

button.btn:hover {
  @apply opacity-80 text-white cursor-pointer;
}

button.btn:focus {
  outline: none;
}

button.btn:disabled {
  @apply bg-grey pointer-events-none;
}

.content {
  @apply flex flex-col items-center w-100pc;
}

.identicon {
  @apply h-4 w-4 border-half bg-blue;
}

.smalltext {
  @apply font-primary text-center text-almostverysmall font-regular;
}
.title {
  @apply w-100pc m-0 p-0 text-center font-primary text-black text-ratherbig-mobile font-bolder leading-tight;
}

.normal-text {
  @apply text-center font-primary text-black text-prettysmall font-light p-0 leading-normal mb-5pc;
}

.slider-wrapper {
  @apply w-100pc mt-3pc mr-0 mb-5pc ml-0;
}

/* TopNavigation */

.nav-container {
  @apply font-secondary flex py-20px mx-5pc;
}

.nav-container .left {
  @apply flex flex-grow items-center;
}

.nav-container .right {
  @apply flex flex-grow items-center justify-end;
}

.nav-container .right .link {
  @apply text-almost-black no-underline ml-8 text-prettysmall;
}

.nav-container .right .link:hover {
  @apply opacity-60;
}

/* Web3 Connect Button */

.web3button-container {
  @apply flex text-prettysmall items-center cursor-pointer select-none text-white;
  @apply text-almostverysmall p-2 rounded border-none ml-8;
  -webkit-box-align: center;
  background: linear-gradient(-60deg, #cb1a8f, #fc02a7);
  flex-flow: row nowrap;
}

.web3button-container:hover {
  @apply opacity-80;
}

.web3button-container p {
  @apply truncate text-almostverysmall flex-auto mr-2 ml-1;
}

.web3button-container .icon-container {
  @apply h-4 w-4 bg-web3-button rounded-50pc;
}

.web3button-container .icon-container .image-container {
  @apply rounded-50pc overflow-hidden p-0 m-0 w-15px h-15px inline-block;
  @apply border-white border-solid border-half;
}

/* Wallet Option */

.wallet-option-container {
  @apply flex flex-col justify-center font-secondary items-center bg-white px-10pc;
}

.wallet-option-container .provider {
  @apply font-primary text-almost-black text-normal font-bold text-center flex flex-row;
  @apply justify-center items-center my-20px border-solid border-grey border p-20px rounded-4px;
  @apply cursor-pointer;
}

.wallet-option-container .provider img {
  @apply h-30px mr-10px;
}

.wallet-option-container .title {
  @apply font-primary text-almost-black text-medium font-bold text-center;
}

/* Wallet Modal */

.wallet-modal .error,
.wallet-modal .pending {
  @apply flex flex-col justify-center items-center font-secondary bg-white px-2pc;
}

.wallet-modal .error div {
  @apply font-primary text-almost-black text-normal font-bold text-center flex flex-row;
  @apply justify-center items-center my-10px;
}

.wallet-modal .error img {
  @apply h-200px mr-10px;
}

/* Minting Redeeming */
.liquidity-container {
  @apply flex flex-col-reverse justify-between content-start my-20px mx-0 py-0 px-5pc;
}
/* Left Side of the Page */
.liquidity-left {
  @apply w-100pc flex flex-col items-center mt-5pc py-2pc px-5pc rounded-6px bg-anothergrey;
}
.tab-navi {
  @apply flex w-100pc mt-3pc mr-0 mb-5pc ml-0;
}
.tab-item {
  @apply py-5px px-5px mr-15px text-black text-left text-normal font-regular border-0;
}
.tab-item.active {
  @apply border-b-2 border-black font-bolder;
}
.liquidity-amount {
  @apply font-primary text-black text-liquidity-amount-mobile;
}
.awp-label {
  @apply font-primary text-awp-label text-ratherbig font-bolder text-center leading-16 my-5pc mx-0;
}
/* Right Side of the Page */
.liquidity-right {
  @apply w-100pc flex flex-col justify-between m-0 py-2pc px-0 rounded-6px bg-anothergrey text-center;
}
.liquidity-column {
  @apply py-0 px-5pc flex flex-col justify-start items-center m-0 rounded-6px text-center;
}
/* Single Asset Item */
.single-asset {
  @apply flex flex-row items-center justify-between bg-white w-100pc rounded-6px border-half border-lightgrey mb-5px;
}
.asset-left {
  @apply flex flex-row items-center;
}
.availability {
  @apply w-20 flex flex-row items-center p-5px rounded-4px ml-10px;
}
.availability .icon {
  @apply h-15px ml-5px;
}
.liquidity-label {
  @apply font-primary text-white text-prettysmall ml-5px;
}
.asset-amount {
  @apply text-left font-primary text-black text-normal font-bold px-10px py-5px m-5px whitespace-no-wrap;
}
.asset-weight {
  @apply text-left font-primary text-white font-bold px-10px py-5px m-10px rounded-4px;
}

/* HERO */

.hero-section {
  @apply flex flex-col justify-center items-center content-center text-center pt-0 pr-0 pb-10px pl-0 font-secondary break-words;
}

.hero-title {
  @apply font-primary text-black text-hero-mobile font-bolder text-center my-2pc mx-0 break-words leading-24;
  background: linear-gradient(-60deg, #f10096, #21d7ff);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flow 3s ease-in-out infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: initial !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  @keyframes flow {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

.pretitle {
  @apply p-0 text-center font-primary text-black text-medium-mobile font-bold leading-loose break-words;
}

.subtitle {
  @apply p-0 text-center font-primary text-black text-medium-mobile font-regular leading-none break-words;
}

.textloop {
  @apply text-center w-100pc h-200px break-words;
}

/* COMPARISON TABLE */

.table-container {
  @apply flex flex-col justify-center mb-5pc w-90pc mx-5pc;
}

.labels-container {
  @apply p-px mt-minus-1px mr-0 mb-0 ml-0 text-label-mobile font-secondary;
}

.labels-portfolio-name {
  @apply flex items-center w-38pc min-w-38pc;
}

.labels-initial-amount {
  @apply flex w-27pc items-center font-regular;
}

.labels-one-year-gains {
  @apply flex w-27pc items-center font-regular;
}

.labels-apy {
  @apply flex items-center font-regular w-10pc;
}

.gradient-container {
  @apply p-px mt-minus-1px mr-0 mb-0 ml-0 text-table-mobile;
  background: linear-gradient(to right, #f10096 0%, #21d7ff 100%);
}

.item-container {
  @apply flex bg-white font-primary p-10px font-regular m-0;
}

.portfolio-name {
  @apply flex items-center w-38pc min-w-38pc;
}

.awp-bold {
  @apply font-bold;
}

.icon-container {
  @apply h-34px mr-10px;
}

.initial-amount {
  @apply flex w-27pc items-center font-bold;
}

.label-black {
  @apply bg-black text-white rounded-3px mr-5px py-2px px-3px;
}

.label-green {
  @apply bg-label-green text-white rounded-3px mr-5px py-2px px-3px;
}

.label-yellow {
  @apply bg-label-yellow text-black rounded-3px mr-5px py-2px px-3px;
}

.label-red {
  @apply bg-label-red text-white rounded-3px mr-5px py-2px px-3px;
}

.label-gradient {
  @apply text-white rounded-3px ml-5px py-2px px-3px font-bold;
  background: linear-gradient(to right, #f10096 0%, #21d7ff 100%);
}

.one-year-gains {
  @apply flex w-27pc items-center font-bold;
}

.apy {
  @apply flex items-center font-bold w-10pc;
}

/* GRADIENT BG SECTION */
.gradient-bg-section {
  @apply flex p-10pc justify-center mb-5pc;
  background: linear-gradient(to right, #ffe2fa 0%, #cceff3 100%);
}

.gradiebg-bg-text {
  @apply font-primary text-black text-ratherbig-mobile font-bold text-left;
}

/* GRADIENT  QUOTE  */
.gradient-quote-container {
  @apply flex flex-col p-10pc justify-center mb-5pc;
}

.quote {
  @apply font-primary text-black text-center text-ratherbig-mobile font-bolder;
  background: linear-gradient(to right, #f10096 0%, #21d7ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.author {
  @apply font-primary text-ratherbig-mobile text-black font-bold text-center italic mt-2pc;
}

/* AWW EXPLAINER */

.awp-explainer {
  @apply flex flex-col content-center items-center my-5pc mx-0 p-0;
}

.awp-box {
  @apply w-100pc flex flex-col items-center content-center justify-center p-0 m-0;
}

/* .awp-crypto {
  @apply w-100pc h-400px p-0 m-0;
  background-image: url('../src/assets/img/awpcrypto-mobile.png');
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.awp-crypto.awpc-desktop {
  background-image: url('../src/assets/img/awpcrypto.png');
} */

.awp-crypto {
  @apply w-100pc p-0 m-0;
}

.awp-content{
  @apply flex flex-col items-center content-center justify-center w-80pc py-10pc px-0 max-h-400px mb-10pc overflow-hidden;
}

/* RC-Slider */
.rc-slider {
  position: relative;
  height: 20px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider {
  position: relative;
  height: 24px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider-rail {
  height: 8px;
  border-radius: 6px;
  background-color: #c7c7c7;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 8px;
  border-radius: 6px;
  margin-top: -8px;
  background-color: #ff00a8;
}

.rc-slider-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -16px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #ff00a8;
  background-color: #fff;
  touch-action: pan-x;
}

.rc-slider-handle:hover {
  border-color: #ff00a8;
}

.rc-slider-handle:active {
  border-color: #ff00a8;
  box-shadow: 0 0 2px #ff00a8;
  cursor: grabbing;
}

.rc-slider-handle:focus {
  border-color: #ff00a8;
  box-shadow: 0 0 0 1px #ff00a8;
  outline: none;
}
/* HeroSection */ 

.rc-slider-handle:hover {
  border-color: #ff00a8;
}

.rc-slider-handle:active {
  border-color: #ff00a8;
  box-shadow: 0 0 2px #ff00a8;
  cursor: grabbing;
}

.rc-slider-handle:focus {
  border-color: #ff00a8;
  box-shadow: 0 0 0 1px #ff00a8;
  outline: none;
}
