@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom css */

/* Global */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  @apply m-0 bg-white font-primary;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

button.btn {
  @apply min-w-150px mt-10px mb-20px p-20px text-white text-center font-bold rounded-5px;
  @apply border-none;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  background: linear-gradient(-60deg, #cb1a8f, #fc02a7);
  background-size: 100%;
}

button.btn:hover {
  @apply opacity-80 text-white cursor-pointer;
}

button.btn:focus {
  outline: none;
}

button.btn:disabled {
  @apply bg-grey pointer-events-none;
}

.identicon {
  @apply h-4 w-4 border-half bg-blue;
}

.title {
  @apply w-100pc m-0 p-0 text-center font-primary text-black text-ratherbig-mobile font-bolder leading-tight;
}

.normal-text {
  @apply text-center font-primary text-black text-prettysmall font-light p-0 leading-normal mb-5pc;
}

.slider-wrapper {
  @apply w-100pc mt-3pc mr-0 mb-5pc ml-0;
}

/* TopNavigation */

.nav-container {
  @apply font-secondary flex py-20px mx-5pc;
}

.nav-container .left {
  @apply flex flex-grow items-center;
}

.nav-container .right {
  @apply flex flex-grow items-center justify-end;
}

.nav-container .right .link {
  @apply text-almost-black no-underline ml-8 text-prettysmall;
}

.nav-container .right .link:hover {
  @apply opacity-60;
}

/* Web3 Connect Button */

.web3button-container {
  @apply flex text-prettysmall items-center cursor-pointer select-none text-white;
  @apply text-almostverysmall p-2 rounded border-none ml-8;
  -webkit-box-align: center;
  background: linear-gradient(-60deg, #cb1a8f, #fc02a7);
  flex-flow: row nowrap;
}

.web3button-container:hover {
  @apply opacity-80;
}

.web3button-container p {
  @apply truncate text-almostverysmall flex-auto mr-2 ml-1;
}

.web3button-container .icon-container {
  @apply h-4 w-4 bg-web3-button rounded-50pc;
}

.web3button-container .icon-container .image-container {
  @apply rounded-50pc overflow-hidden p-0 m-0 w-15px h-15px inline-block;
  @apply border-white border-solid border-half;
}

/* Wallet Option */

.wallet-option-container {
  @apply flex flex-col justify-center font-secondary items-center bg-white px-10pc;
}

.wallet-option-container .provider {
  @apply font-primary text-almost-black text-normal font-bold text-center flex flex-row;
  @apply justify-center items-center my-20px border-solid border-grey border p-20px rounded-4px;
  @apply cursor-pointer;
}

.wallet-option-container .provider img {
  @apply h-30px mr-10px;
}

.wallet-option-container .title {
  @apply font-primary text-almost-black text-medium font-bold text-center;
}

/* Wallet Modal */

.wallet-modal .error, .wallet-modal .pending {
  @apply flex flex-col justify-center items-center font-secondary bg-white px-2pc;
}

.wallet-modal .error div {
  @apply font-primary text-almost-black text-normal font-bold text-center flex flex-row;
  @apply justify-center items-center my-10px;
}

.wallet-modal .error img {
  @apply h-200px mr-10px;
}

/* Minting Redeeming */
.liquidity-container {
  @apply flex flex-col-reverse justify-between content-start my-20px mx-0 py-0 px-5pc;
}
/* Left Side of the Page */
.liquidity-left {
  @apply w-100pc flex flex-col items-center mt-5pc py-2pc px-5pc rounded-6px bg-anothergrey ;
}
.tab-navi {
  @apply flex w-100pc mt-3pc mr-0 mb-5pc ml-0;
}
.tab-item {
  @apply py-5px px-5px mr-15px text-black text-left text-normal font-regular border-0;
}
.tab-item.active {
  @apply border-b-2 border-black font-bolder;
}
.liquidity-amount {
  @apply font-primary text-black text-liquidity-amount-mobile ;
}
.awp-label {
  @apply font-primary text-awp-label text-ratherbig font-bolder text-center leading-16 my-5pc mx-0;
}
/* Right Side of the Page */
.liquidity-right {
  @apply w-100pc flex flex-col justify-between m-0 py-2pc px-0 rounded-6px bg-anothergrey text-center;
}
.liquidity-column {
  @apply py-0 px-5pc flex flex-col justify-start items-center m-0 rounded-6px text-center;
}
/* Single Asset Item */
.single-asset {
  @apply flex flex-row items-center justify-between bg-white w-100pc rounded-6px border-half border-lightgrey mb-5px;  
}
.asset-left {
  @apply flex flex-row items-center; 
}
.availability {
  @apply w-20 flex flex-row items-center p-5px rounded-4px ml-10px;
}
.availability .icon {
  @apply h-15px ml-5px;
}
.liquidity-label {
  @apply font-primary text-white text-prettysmall ml-5px;
}
.asset-amount {
  @apply text-left font-primary text-black text-normal font-bold px-10px py-5px m-5px whitespace-no-wrap;
}
.asset-weight {
  @apply text-left font-primary text-white font-bold px-10px py-5px m-10px rounded-4px;
}


/* RC-Slider */
.rc-slider {
  position: relative;
  height: 20px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider {
  position: relative;
  height: 24px;
  padding: 5px 0;
  width: 100%;
  border-radius: 6px;
  touch-action: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: #c7c7c7;
}

.rc-slider-rail {
  height: 8px;
  border-radius: 6px;
  background-color: #c7c7c7;
}

.rc-slider-track {
  position: absolute;
  left: 0;
  height: 8px;
  border-radius: 6px;
  margin-top: -8px;
  background-color: #ff00a8;
}

.rc-slider-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  cursor: pointer;
  cursor: -webkit-grab;
  margin-top: -16px;
  cursor: grab;
  border-radius: 50%;
  border: solid 2px #ff00a8;
  background-color: #fff;
  touch-action: pan-x;
}

.rc-slider-handle:hover {
  border-color: #ff00a8;
}

.rc-slider-handle:active {
  border-color: #ff00a8;
  box-shadow: 0 0 2px #ff00a8;
  cursor: grabbing;
}

.rc-slider-handle:focus {
  border-color: #ff00a8;
  box-shadow: 0 0 0 1px #ff00a8;
  outline: none;
}
/* HeroSection */ 

.hero-section .subtitle {
  @apply text-big text-center;
}

.hero-section .title {
  /* @apply text-lg */
}
